.DS_Store
node_modules

dist/
types/

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local
docs/.vuepress/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

TODO.md

*_OLD.ts
*_OLD.d.ts
*_OLD.tsx