html {
  font-family: sans-serif;
}

.controls {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.controls--item {
  display: inline-block;
  padding: 3px;
}
.controls--link {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: rgb(66, 185, 131);
  background-color: white;
  border: 2px solid rgb(66, 185, 131);
}
.controls--link:hover {
  color: white;
  background-color: rgb(66, 185, 131);
  border: 2px solid rgb(66, 185, 131);
}
.controls--link-active {
  color: white;
  background-color: rgb(66, 185, 131);
  border: 2px solid rgb(66, 185, 131);
}

.wrapper {
  display: flex;
}

.item {
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
  border-radius: 2px;
  margin: 15px;
  margin-top: 30px;
  padding: 15px;
}

.item.source {
  border-color: rgb(66, 185, 131);
  border-width: 3px;
}

.item.destination {
  border-width: 3px;
  border-color: rgb(135, 29, 29);
;
}
