@import 'variables';

html {
  font-family: sans-serif;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
.controls {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.controls--item {
  display: inline-block;
  padding: 3px;
}
.controls--link {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 5px;
  color: $vueColor;
  background-color: white;
  border: 2px solid $vueColor;
}
.controls--link:hover {
  color: white;
  background-color: $vueColor;
  border: 2px solid $vueColor;
}
.controls--link-active {
  color: white;
  background-color: $vueColor;
  border: 2px solid $vueColor;
}

.wrapper {
  display: flex;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-group-leave-to {
  opacity: 0;
  position: absolute;
}
.fade-group-move {
  transition: transform 1.5s;
}