@import 'normalize.css';
@import 'css/variables.css';
@import 'flexboxgrid';
/* @import 'tachyons-colors'; */
@import 'tachyons-border-colors';
@import 'tachyons';

.bg-vuegreen {
  background-color: var(--vuegreen)
}

.bc-vueblue {
  border-color: var(--vueblue);
}

.shadow-vuegreen-bottom {
  box-shadow: 0 3px 2px 0 var(--vuegreen);
}
